@using CaffeGest.Models
@model Sortie

@{
    ViewBag.Title = "Modifier Sortie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(a => a.ProduitId, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Nom Produit")
            @Html.DropDownListFor(a => a.ProduitId, selectList: ViewBag.Produits as IEnumerable<SelectListItem>, optionLabel: "-select-",
            htmlAttributes: new { @class = "form-control"})
            @Html.ValidationMessageFor(a => a.ProduitId)
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.ClientId, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Nom Client")
            @Html.DropDownListFor(a => a.ClientId, selectList: ViewBag.Clients as IEnumerable<SelectListItem>, optionLabel: "-select-",
            htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.ClientId)
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.TypeSortieId, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Type Sortie")
            @Html.DropDownListFor(a => a.TypeSortieId, selectList: ViewBag.TypeSorties as IEnumerable<SelectListItem>, optionLabel: "-select-",
            htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.TypeSortieId)
        </div>


        <div class="form-group">
            @Html.LabelFor(a => a.DateSortie, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Date Achat")
            @Html.TextBoxFor(a => a.DateSortie, htmlAttributes: new { @class = "form-control", @Type = "date" }, format: "{0:yyyy-MM-dd}")
            @Html.ValidationMessageFor(a => a.DateSortie)
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.QteSortie, htmlAttributes: new { @class = "control-label col-md-2" }, labelText: "Quantite")
            @Html.TextBoxFor(a => a.QteSortie, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.QteSortie)
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Montant, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(a => a.Montant, htmlAttributes: new { @class = "form-control"})
            @Html.ValidationMessageFor(a => a.Montant)
        </div>



        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Enregistrer" />
            </div>
        </div>
    </div>

}

@Html.ActionLink("Retour", "Index")

@*pour la validation cote client*@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}





