@using CaffeGest.Models
@model List<TypeClient>

@{
    ViewBag.Title = "Liste de type de clients";

}

<br />
<h2>@ViewBag.Title</h2>
<br />
@Html.ActionLink("Ajouter", actionName: "Add", controllerName: "TypeClient", routeValues: "", htmlAttributes: new { @class = "btn btn-info" })
<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Gestion du Type de clients</h2>
    </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Options</th>
                </tr>
                @foreach (TypeClient tp in Model)
                {
                    <tr>
                        <td>@tp.Id</td>
                        <td>@tp.Nom</td>
                        @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = tp.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { id = tp.Id }, htmlAttributes: new { @class = "btnDelete btn btn-danger" })
                        </td>
                    }
                    </tr>
                }
            </table>
</div>
