@using CaffeGest.Models
@model List<Produit>
@{
    List<Produit> prods = this.ViewBag.Produits;
    ViewBag.Title = "Liste des Produits";

}

<br />
<h2>@ViewBag.Title</h2>
<br />
@Html.ActionLink("Ajouter", actionName: "Add", controllerName: "Produit", routeValues: "", htmlAttributes: new { @class = "btn btn-info" })
<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Gestion des produits</h2>
    </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>Prix unitaire</th>
                    <th>Poids</th>
                    <th>Quantite de stock</th>
                    <th>Categorie</th>
                    <th>Fournisseurs</th>
                    <th>Ops</th>
                </tr>
                @foreach (Produit p in prods)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Nom</td>

                        @if (p.Photos == null || p.Photos.Count <= 0)
                        {
                            <td>
                                No Photo
                                <br />
                                @Html.ActionLink("Ajouter", "ProduitPhotos", new { Id = p.Id }, new
                           {
                               @class = "btn btn-danger btn-sm",
                           })
                                @Html.ActionLink("Supprimer", "DeletePhoto", new { Id = p.Id },
                         new
                         {
                             @class = "btn btn-danger btn-sm",
                             onclick = "return confirm('Êtes-vous sûr de vouloir supprimer cette photo?');"
                         })
                            </td>
                        }
                        else
                        {
                            <td>
                                @foreach (Photo m in p.Photos)
                                {
                                    
                                    <img src="~/Image/@m.ImgPath" alt="">
                                    <br />
                                    @Html.ActionLink("Ajouter", "ProduitPhotos", new { Id = m.Id }, new
                               {
                                   @class = "btn btn-danger btn-sm",
                               })
                                    @Html.ActionLink("Supprimer", "DeletePhoto", new { Id = m.Id },
                         new
                         {
                             @class = "btn btn-danger btn-sm",
                             onclick = "return confirm('Êtes-vous sûr de vouloir supprimer cette photo?');"
                         })
                                }
                            </td>
                        }
                        <td>@p.PU</td>
                        <td>@p.Poids</td>
                        <td>@p.QuantiteStock</td>

                        <td>@p.Categorie.Nom</td>
                        <td>
                            @foreach (Fournisseur f in p.Fournisseurs)
                {
                                @Html.ActionLink(@f.Nom, actionName: "Details", controllerName: "Fournisseur", routeValues: new { id = f.Id }, htmlAttributes: new { @Class = "control-label col-md-2" })
                            }
                        </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = p.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { id = p.Id }, htmlAttributes: new { @class = "btnDelete btn btn-danger" })
                        </td>
                    }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                return confirm("delete it?");
            });
        });

    </script>
}
