@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Produit> prods = this.ViewBag.Produits;

}
@using CaffeGest.Models
@model List<Produit>

<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="mettre un grand coe = gestion des produits">Les Produits</h2>
        <div>
            @Html.ActionLink("Ajouter", "Add")

            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>Prix unitaire</th>
                    <th>Poids</th>
                    <th>Quantite de stock</th>
                    <th>Categorie</th>
                    <th>Fournisseurs</th>
                    <th>Ops</th>
                </tr>
                @foreach (Produit p in prods)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Nom</td>

                        @if (p.Photos == null || p.Photos.Count <= 0)
                        {
                            <td>
                                No Photo
                                <br />
                                @Html.ActionLink("Ajouter", "ProduitPhotos", new { Id = p.Id }, new
                           {
                               @class = "btn btn-danger btn-sm",
                           })
                                @Html.ActionLink("Supprimer", "DeletePhoto", new { Id = p.Id },
                         new
                         {
                             @class = "btn btn-danger btn-sm",
                             onclick = "return confirm('Êtes-vous sûr de vouloir supprimer cette photo?');"
                         })
                            </td>
                        }
                        else
                        {
                            <td>
                                @foreach (Photo m in p.Photos)
                                {
                                    
                                    <img src="~/Image/@m.ImgPath" alt="">
                                    <br />
                                    @Html.ActionLink("Ajouter", "ProduitPhotos", new { Id = m.Id }, new
                               {
                                   @class = "btn btn-danger btn-sm",
                               })
                                    @Html.ActionLink("Supprimer", "DeletePhoto", new { Id = m.Id },
                         new
                         {
                             @class = "btn btn-danger btn-sm",
                             onclick = "return confirm('Êtes-vous sûr de vouloir supprimer cette photo?');"
                         })
                                }
                            </td>
                        }
                        <td>@p.PU</td>
                        <td>@p.Poids</td>
                        <td>@p.QuantiteStock</td>

                        <td>@p.Categorie.Nom</td>
                        <td>
                            @foreach (Fournisseur f in p.Fournisseurs)
                {
                                @Html.ActionLink(@f.Nom, actionName: "Details", controllerName: "Fournisseur", routeValues: new { id = f.Id }, htmlAttributes: new { @Class = "control-label col-md-2" })
                            }
                        </td>

                        <td>
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = p.Id })
                            @Html.ActionLink("Supprimer", "Delete", routeValues: new { id = p.Id }, htmlAttributes: new { @class = "btnDelete" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                return confirm("delete it?");
            });
        });

    </script>
}
