@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CaffeGest.Models
@model List<TypeSortie>


<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="mettre un grand coe = gestion des produits">Liste des Sorties</h2>
        <div>
            @Html.ActionLink("Ajouter", "Add")

            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>

                    <th>Options</th>
                </tr>
                @foreach (TypeSortie ts in Model)
                {
                    <tr>
                        <td>@ts.Id</td>
                        <td>@ts.Nom</td>
                        <td>
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = ts.Id })
                            @Html.ActionLink("Supprimer", "Delete", routeValues: new { id = ts.Id }, htmlAttributes: new { @class = "btnDelete" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>