@using CaffeGest.Models
@model List<Categorie>
@{

    ViewBag.Title = "Liste des Categories";
}
<br />
<h2>@ViewBag.Title</h2>

<br />
@Html.ActionLink("Ajouter", actionName: "Add", controllerName: "Categorie", routeValues: "", htmlAttributes: new { @class = "btn btn-info" })
<br />
<br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Gestion des categories</h2>
    </div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Options</th>
                </tr>
                @foreach (Categorie c in Model)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Nom</td>
                @if (User.IsInRole("Admin"))
                    {
                        <td>                      
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = c.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { id = c.Id }, htmlAttributes: new { @class = "btnDelete btn btn-danger" })
                        </td>
                    }
                        
                    </tr>
                }
            </table>
            <br />
        </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                return confirm("delete it?");
            });
        });

    </script>
}
