@using CaffeGest.Models
@model Fournisseur

@{
    ViewBag.Title = "Details Fournisseur";

}

<br />
<h2>@ViewBag.Title</h2>
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Gestion des fournisseurs</h2>
    </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Produits</th>
                </tr>

                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Nom</td>
                    <td>@Model.Tel</td>
                    <td>@Model.Email</td>
                    <td>@Model.Adresse</td>
                    <td>
                        @foreach (Produit p in @Model.Produits)
                        {
                            @p.Nom
                        }
                    </td>                 
                </tr>

            </table>
</div>

@Html.ActionLink("Retour", "ListFournisseurs")
 
