@using CaffeGest.Models
@model List<Fournisseur>

@{

    ViewBag.Title = "Liste des Fournisseurs";
}
<br />
<h2>@ViewBag.Title</h2>
<br />
@Html.ActionLink("Ajouter", actionName: "Add", controllerName: "Fournisseur", routeValues: "", htmlAttributes: new { @class = "btn btn-info" })
<br />
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">Gestion des fournisseurs</h2>
    </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Produits</th>
                    <th>Options</th>
                </tr>
                @foreach (Fournisseur f in Model)
                {
                    <tr>
                        <td>@f.Id</td>
                        <td>@f.Nom</td>
                        <td>@f.Tel</td>
                        <td>@f.Email</td>
                        <td>@f.Adresse</td>
                        <td>
                            @foreach (Produit p in f.Produits)
                            {
                                @p.Nom
                            }
                        </td>
                        @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", routeValues: new { id = f.Id }, htmlAttributes: new { @class="btn btn-info" })
                            @Html.ActionLink("Editer", "Edit", routeValues: new { id = f.Id }, htmlAttributes: new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", routeValues: new { id = f.Id }, htmlAttributes: new { @class = "btnDelete btn btn-danger" })
                        </td>
                    }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                return confirm("delete it?");
            });
        });

    </script>
}
